<h1></h1>

<div id="form">
<h2>Add a new Term</h2>


<div id="new-form">
	<%= form_for @word do |f|  %>
	<ul>
			<li>Word/Phrase<br><%= f.text_field :term  %></li>
			<li>Definition<br><%= f.text_area :def, rows:5  %></li>
			<li><%= f.submit 'Add word', :class => 'btn btn-success'%></li>

	</ul>
	<% end %>
</div>


